@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --radius: 0.5rem;
    --sidebar-background: 24 30% 96.5%;
    --sidebar-foreground: 24 20% 26.1%;
    --sidebar-primary: 24 48.78% 67.84%;
    --sidebar-primary-foreground: 24 20% 98%;
    --sidebar-accent: 24 25% 94%;
    --sidebar-accent-foreground: 24 20% 10%;
    --sidebar-border: 24 20% 91%;
    --sidebar-ring: 23.74 56.73% 48.04%;
  }
  .dark {
    --sidebar-background: 24 12.9% 10%;
    --sidebar-foreground: 24 4.8% 95.9%;
    --sidebar-primary: 24 48.78% 32.16%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 24 20.7% 15.9%;
    --sidebar-accent-foreground: 24 4.8% 95.9%;
    --sidebar-border: 24 20.7% 18%;
    --sidebar-ring: 24.17 56.73% 51.96%;
  }
}
